<!DOCTYPE html>
<html>
  	<head>
  		<title>Hank</title>
  		<meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="/assets/css/main.css" />
      <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
      <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
      <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

    <body>


        

          {{ content }}


    <!-- BG -->
      <div id="bg"></div>

    <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/skel.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>

  </body>
</html>
